h2{
  color: whitesmoke;
  font-size: 40pt;
}
h3{
  color: whitesmoke;
}
a:hover{
  opacity: 0.7;
}
.home{
  background-image: url('bricks.png');
  background-size: cover;
  min-height: 100%;
}
body{
  background-color: #474646;
}
.backgr{
  background-color:whitesmoke;
  opacity: 0.5;
  z-index: -1;
  height: 500px;
  width: 90%;
  margin: auto auto auto auto;
}
.sign {
    background-image: url('wood.png');
    min-height: 15%;
    margin-top: 10px; 
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding: 5%;
    display:block;
    background-size: contain;
    background-repeat: no-repeat;
    float: left;
  }
  .sign2 {
    background-image: url('wood.png');
    min-height: 25%;
    margin-top: 10px; 
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding: 5%;
    display:block;
    background-size: contain;
    background-repeat: no-repeat;
    float: right;
  }
  .sign3 {
    background-image: url('wood.png');
    min-width: 35%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    vertical-align: bottom;
    background-size: cover;
    background-repeat: no-repeat;
    float: left;
  }
  .sign4 {
    background-image: url('wood.png');
    margin-top: 10px; 
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    display:block;
    background-size: cover;
    background-repeat: no-repeat;
    min-width: 35%;
    max-height: 50%;
  }
.window{
    width: 80%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    margin-top: 10px;
    background-image: url('depth.png');
    background-repeat: no-repeat;
    background-size: cover;
  border-collapse: collapse;
}
.maptb{
  display:block;
  float:none;
  position: absolute;
  margin-top: 15%;
  margin-left: auto;
  margin-right: auto;
}
.windowtd {
  text-align: center;
  border: 35px solid;
  border-color: #89471e;
  width: 50%;
}
img{
  width: 60%;
}
.floater{
  display: block;
  float: left;
  margin-top: 10px;
  width: 50%;
}
.texty{
  display: block;
  float: right;
  margin-top: 10px;
  width: 35%;
}
