h2{
  color: whitesmoke;
  font-size: 40pt;
}
h3{
  color: whitesmoke;
}
a:hover{
  opacity: 0.7;
}
.home{
  background-image: url('bricks.png');
  background-size: cover;
}
.sign {
    background-image: url('wood.png');
    min-height: 15%;
    margin-top: 10px; 
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding: 5%;
    display:block;
    background-size: contain;
    background-repeat: no-repeat;
    float: left;
  }
  .sign2 {
    background-image: url('wood.png');
    min-height: 25%;
    margin-top: 10px; 
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding: 5%;
    display:block;
    background-size: contain;
    background-repeat: no-repeat;
    float: right;
  }
  .sign3 {
    background-image: url('wood.png');
    min-width: 45%;
    margin-top: 10px; 
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding: 5%;
    display:block;
    background-size: contain;
    background-repeat: no-repeat;
    float: left;
  }
.window{
    width: 80%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    background-image: url('depth.png');
  border-collapse: collapse;
}
.basic{
  background-color:bisque;
}
td{
  text-align: center;
  border: 35px solid;
  border-image-source: url('wood.png');
  border-color: #89471e;
  width: 50%;
  background-image: url('depth.png');
}
img{
  width: 60%;
}
  
